# libtcod python lib
libtcodpy.py

# libtcod font bitmap
terminal.png

# libtcod windows includes
SDL.dll
libtcod-mingw.dll

# libtcod linux includes
libtcod.so

# python compiled modules
*.pyc
